:root {
  --main-color: #faf3ff;
  --secondary-color: #9d4edd9e;
  --tertiary-color: #5a00b4;
  --hover-color: #7229bb;
  --radius: 15px;
}

a,
a:visited,
a:hover,
a:active {
  color: var(--main-color);
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gabarito", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--main-color);
  color: var(--main-color);
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  box-sizing: border-box;
  height: auto;
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  border-top: 2px solid transparent;
  border-bottom: 2px solid black;
}

nav > ul {
  display: flex;
  justify-content: flex-start;
}

nav > ul > li {
  padding: 0.6rem;
  margin: 1rem 0 1rem 2rem;
  background-color: var(--tertiary-color);
  border-radius: var(--radius);
}

nav > ul > li:hover {
  background-color: var(--hover-color);
}

header {
  height: auto;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
}

header > h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0 0 2rem 0;
  padding: 4rem;
}

main > h2 {
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

main > p {
  box-sizing: content-box;
  width: clamp(45ch, 50%);
  font-size: 1.3rem;
  margin: 2rem;
  padding: 1rem;
  color: black;
}

#image-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6";
}

#img1 {
  grid-area: img1;
  width: 75%;
}

#img2 {
  grid-area: img2;
  width: 75%;
}

#img3 {
  grid-area: img3;
  width: 75%;
}

#img4 {
  grid-area: img4;
  width: 75%;
}

#img5 {
  grid-area: img5;
  width: 75%;
}

#img6 {
  grid-area: img6;
  width: 75%;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6 {
  margin: 1rem;
  padding: 1rem;
}

#purpose {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "land prof pers"
    "devl stry refr";
}

#land,
#prof,
#pers,
#devl,
#stry,
#refr {
  box-sizing: content-box;
  width: auto;
  font-size: 1.3rem;
  margin: 1rem;
  padding: 1rem;
  color: black;
}

#land:hover,
#prof:hover,
#pers:hover,
#devl:hover,
#stry:hover,
#refr:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: var(--radius);
}

#land {
  grid-area: land;
}

#prof {
  grid-area: prof;
}

#pers {
  grid-area: pers;
}

#devl {
  grid-area: devl;
}

#stry {
  grid-area: stry;
}

#refr {
  grid-area: refr;
}

footer {
  box-sizing: content-box;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-color);
  color: black;
  border-top: 2px solid black;
}

footer > h2 {
  margin: 1rem 0 1rem 0;
  font-size: 3rem;
  text-align: center;
}

footer > p {
  margin: 1rem 0 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}
